{{>header}}
<div class="desktop-2">
    {{>sidebar}}
    <div class="container-3">
        {{>navbar}}

        <div class="container-8-approved">
            <div class="container-26-approved">
                <div class="detail-dokumen">Detail Dokumen</div>
                <div class="line-8"></div>
                <div class="container-35-approved">
                    <div class="status">Nama Dokumen</div>
                    <div class="pengajuan">: {{nama_document}}</div>
                </div>
                <div class="container-35-approved">
                    <div class="status">Nomor Dokumen</div>
                    <div class="pengajuan">: {{nomor_document}}</div>
                </div>
                <div class="container-35-approved">
                    <div class="status">Waktu Pengajuan</div>
                    <div class="pengajuan">: {{created_at}}</div>
                </div>
                <div class="container-35-approved">
                    <div class="status">Upload Terakhir</div>
                    <div class="pengajuan">: {{updated_at}}</div>
                </div>
                <div class="container-35-approved">
                    <div class="status">Status</div>
                    <div class="status-pengajuan">: Pengajuan</div>
                </div>
            </div>

            <div class="container-10-approved">
                <div class="container-18-approved">
                    <span class="persetujuan"> Persetujuan </span>
                </div>
                <form action="{{url_post}}" method="post">
                <div class="container-31-approved">
                    <input type="text" value="{{id}}" name="id" hidden>
                    <input type="radio" class="ellipse-12" name="approved" value="setuju">
                    <span class="setuju"> Setuju </span>
                </div>
                <div class="container-30-approved">
                    <input type="radio" class="ellipse-13" name="approved" value="tidak setuju">
                    <span class="tidak-setuju"> Tidak Setuju </span>
                </div>
                <div class="masukkan-keterangan"><textarea name="keterangan">Masukkan keterangan</textarea></div>
                <div class="container-9-approved">
                    <button type="submit" class="simpan"> Simpan </button>
                </div>
                </form>
                <div class="rectangle-39"></div>
            </div>
        </div>

        <div class="container-20">
          <span class="smkn-1-probolinggo-2023-all-right-reserved"
          >SMKN 1 PROBOLINGGO © 2023 All Right Reserved</span
          >
        </div>
    </div>
</div>
</body>
</html>