{{>header}}
<div class="desktop-2">
    {{>sidebar}}
    <div class="container-3">
        {{>navbar}}
<div class="container-21-a">
<!--    <div class="container-35">-->
<!--            <span-->
<!--                    class="apabila-terdapat-perbedaan-pada-data-dokumen-maka-yang-valid-adalah-yang-terdapat-pada-halaman-ini"-->
<!--            >-->
<!--              Apabila terdapat perbedaan pada data dokumen maka yang valid-->
<!--              adalah yang terdapat pada halaman ini-->
<!--            </span>-->
<!--    </div>-->
    <div class="container-31">
        <div class="detail-surat">Detail Surat</div>
        <div class="container-24">
            <div class="nama-surat">Nama Surat &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp&nbspIjazah</div>
<!--            <div class="container-8-b">-->
<!--                <div class="ijazah">Ijazah</div>-->
<!--            </div>-->
        </div>
        <div class="container-39">
            <div class="nomor-surat">Nomor Surat &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp&nbspDN-12/0001073</div>
<!--            <div class="container-4">-->
<!--                <div class="dn-120001073">DN-12/0001073</div>-->
<!--            </div>-->
        </div>
        <div class="container-42">
            <div class="disetujui-oleh">Disetujui Oleh &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp25 Juni 2023</div>
<!--            <div class="container-19">-->
<!--                <div class="juni-2023">25 Juni 2023</div>-->
<!--            </div>-->
        </div>
        <div class="container-2">
            <div class="disetujui-tanggal">Disetujui Tanggal &nbsp&nbsp&nbsp: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp25 Juni 2023</div>
<!--            <div class="juni-202313">25 Juni 2023</div>-->
        </div>
    </div>
    <div class="container-1-a">
        <div class="file-terlampir">File terlampir</div>
        <div class="line-32"></div>
        <div class="dokumen-surat">Dokumen surat</div>
        <div class="container-29">
            <span class="download-dokumen"> Download Dokumen </span>
        </div>
    </div>
    <div class="line-31"></div>
</div>
    </div>
</div>
