{{>header}}
<div class="desktop-2">

    <div class="container-3">
        {{>navbar}}

        <div class="container-21">

            <div class="container-26-a">
                <div class="rectangle-37"></div>
                <form action= method="post" enctype="multipart/form-data">
                    <div class="form-pengajuan">{{status}}</div>
                    </br>
                    <div class="form-pengajuan">{{nama_document}}</div>
                    </br>
                    <div class="form-pengajuan">{{no_document}}</div>
                    </br>
                    <div class="form-pengajuan">{{created_at}}</div>
                </form>
            </div>
            <div class="line-15"></div>
        </div>

        <div class="container-20">
          <span class="smkn-1-probolinggo-2023-all-right-reserved"
          >SMKN 1 PROBOLINGGO © 2023 All Right Reserved</span
          >
        </div>
    </div>
</div>
</body>
</html>
