{{>header}}
<div class="desktop-2">
    {{>sidebar}}

    <div class="container-3">
        {{>navbar}}
        <div class="container-21">
            <div class="container">
                {{status}}
            </div>
            <div class="container-26-a">
                <form action="http://localhost:8080/form-entry/create" method="post" enctype="multipart/form-data">
                <div class="rectangle-37"></div>
                <div class="form-pengajuan">Form Pengajuan</div>
                <div class="nama-dokumen">Nama Dokumen</div>
                <div class="container-20">
                    <input name="nama_dokumen" class="rectangle-34" type="text" />
                </div>
                <div class="nomor-dokumen">Nomor Dokumen</div>
                <div class="container-6">
                    <input name="nomor_dokumen" class="rectangle-34" type="text" />
                </div>
                <div class="input-dokumen">Input Dokumen</div>
                <div class="container-11">
                    <input  class="" type="file" name="file" id="" />
                </div>
                <div class="file-pdf-dengan-maks-ukuran-2-mb">
                    File pdf dengan maks. ukuran 2Mb
                </div>
                <div class="container-9">
                    <div class="close">Close</div>
                    <div class="container-27">
                        <button type="submit" class="simpan"> Simpan </button>
                    </div>
                </div>
                </form>
            </div>
            <div class="line-15"></div>
        </div>

        <div class="container-20">
          <span class="smkn-1-probolinggo-2023-all-right-reserved"
          >SMKN 1 PROBOLINGGO © 2023 All Right Reserved</span
          >
        </div>
    </div>
</div>
</body>
</html>
