{{>header}}
<div class="desktop-2">
{{>sidebar}}
    <div class="container-3">
       {{>navbar}}

        <div class="container-21">
            <div class="container-26-a">
                <div class="login-2">LOGIN</div>
                <div class="nip">NIP</div>
                <input class="rectangle-34" type="text" />

                <div class="password">Password</div>
                <input class="rectangle-34" type="text" name="" id="" />
                <div class="container-25">
                    <span class="login-3"> Login </span>
                </div>
            </div>
            <img class="ellipse-11" />
        </div>

        <div class="container-20">
          <span class="smkn-1-probolinggo-2023-all-right-reserved"
          >SMKN 1 PROBOLINGGO © 2023 All Right Reserved</span
          >
        </div>
    </div>
</div>
</body>
</html>
