<div class="container-13">
    <img
            class="download-removebg-preview-2"
            src="../assets/images/phone.png"
            alt="phone"
    />
    <!-- <div class="download-removebg-preview-2"></div> -->
    <div class="infosmkn-1-probolinggo-sch-id">(0335) 421121</div>
    <div class="line-10"></div>
    <div
            class="e-mail-mail-letter-orange-logo-icon-free-png-11640440737-atlmvajqhy-removebg-preview-2"
    ></div>
    <div class="infosmkn-1-probolinggo-sch-id">
        info@smkn1probolinggo.sch.id
    </div>
    <div class="line-101"></div>
</div>
<!-- <img class="image-3" src="assets/search.png" alt="" /> -->
<div class="image-3"></div>
<div class="container-11">
    <img class="union" src="" alt="" />
    <div class="container-26">
        <div class="home"><a class="home" href="http://localhost:8080/" style="text-decoration: none">Home</a></div>
        <div class="line-14"></div>
        <a href="http://localhost:8080/check" class="document-verify">Document Verify</a>
    </div>
    <div class="container-8">
        {{#login}}
        <a href="{{url}}" class="login">{{name}}</a>
        {{/login}}
    </div>
</div>