<div class="container-22">
        <div class="container-27">
            <img
                    class="image-2"
                    src="../assets/images/logo-sekolah.png"
                    alt="logo-sekolah"
            />
            <!-- <div class="image-2"></div> -->
            <div class="container">
                <div class="smkn-1-probolinggo">SMKN 1 PROBOLINGGO</div>
                <span class="jl-mastrip-no-357-kedopok-kota-probolinggo-67239">
              Jl. Mastrip No.357 Kedopok, <br />
              Kota Probolinggo 67239
            </span>
            </div>
        </div>

        <div class="list-menu-sidebar">
            <div class="txt-list-menu-sidebar">
                <span class="bidang">Bidang</span>
            </div>
            <div class="menu-sidebar">
                <div class="ellipse"></div>
                <a href="http://localhost:8080/form-entry" class="txt-menu-sidebar">Form Entry</a>
            </div>
            <div class="menu-sidebar">
                <div class="ellipse"></div>
                <a href="http://localhost:8080/form-revisi" class="txt-menu-sidebar">Form Revisi</a>
            </div>
        </div>

        <div class="list-menu-sidebar">
            <div class="txt-list-menu-sidebar">
                <span class="staff-tu">Staff TU</span>
            </div>
            <div class="menu-sidebar">
                <div class="ellipse"></div>
                <a href="http://localhost:8080/cek-document" class="txt-menu-sidebar">Check Document</a>
            </div>
            <div class="menu-sidebar">
                <div class="ellipse"></div>
                <a class="txt-menu-sidebar" href="http://localhost:8080/revisi-deocument">Revisi Dokumen</a>
            </div>
            <div class="menu-sidebar">
                <div class="ellipse"></div>
                <a class="txt-menu-sidebar" href="http://localhost:8080/approved">Approved Document</a>
            </div>
        </div>

        <div class="list-menu-sidebar">
            <div class="txt-list-menu-sidebar">
                <span class="staff-tu">Kepala Sekolah</span>
            </div>
            <div class="menu-sidebar">
                <div class="ellipse"></div>
                <a href="http://localhost:8080/document-signing" class="txt-menu-sidebar">Document Signing</a>
            </div>
        </div>

        <div class="list-menu-sidebar">
            <div class="txt-list-menu-sidebar">
                <span class="staff-tu">Server CA</span>
            </div>
            <div class="menu-sidebar">
                <div class="ellipse"></div>
                <a href="http://localhost:8080/sign-pdf" class="txt-menu-sidebar">Signing Input</a>
            </div>
            <div class="menu-sidebar">
                <div class="ellipse"></div>
                <a class="txt-menu-sidebar" href="http://localhost:8080/cetak-QrCode">Cetak QR Code</a>
            </div>
        </div>

    </div>